

body{
    font-family: arial,sans-serif;
    margin:0;
}


li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    font-size: 14px;
    color: #696969;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.nav-left{
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}
.nav-right{
    display: flex;
    justify-content: flex-end;
    margin-right: -20px;
    margin-top: 30px;
}
#google-apps{
    margin-top: -10px;
    margin-right: -40px;
}
#google-account{
    margin-top: -15px;
    margin-right: 20px;
}
#Gmail{
    margin-right: -25px;
}
#Images{
    margin-right: -20px;
}
#Store{
    margin-left: -25px;
}
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
#google {
    display: flex;
    margin: 10px auto;
    height: 48px;
    width: 580px;
    cursor: text;
    border-radius: 30px;
    border: 1px solid #dfe1e5;
}
.buttons {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.buttons > * {
    margin: 0 10px;
}
.google-text{
   display: flex;
   justify-content: center;
   font-size: 13px;
}
#čeština {
    color: rgb(33,49,173);
    text-decoration: none;
    padding: 0 6px;
}
.google-text{
    padding-top: 50px;
}
.menu{
    background-color: rgb(242,242,242);
    display: flex;
    justify-content: space-between;
    margin-top: -30px;
}
.menu-left{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.menu-right{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
a{
    text-decoration: none;
    color:#696969;
}

footer {
    background-color: rgb(242,242,242);
    position: fixed;
    bottom: 0;
    width: 100%;

}
.country {
    margin-left: 52px;
    font-size: 14px;
    padding: 23px 9px;
    color: #696969;
    margin-top: 1px;
}
#submit {
    background-color: rgb(242,242,242);
    border: none;
    color: #696969;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;

}
#button {
    background-color: rgb(242,242,242);
    border: none;
    color: #696969;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
}

#button:hover {
    border:solid 1px #C0C0C0;
}
#submit:hover {
    border:solid 1px #C0C0C0;
}
a:hover{
    text-decoration: underline;  
}
#google:hover {
    border:solid 2px #C0C0C0;
    box-shadow: 0 2px 4px 1px #d9d9d9;
}
